# name: Build & Push Images

# on:
#   push:
#     branches:
#       - main
#       - release/**
#       - feature/**
#       - hotfix/**

# jobs:
#   detect-env:
#     runs-on: ubuntu-latest
#     outputs:
#       env: ${{ steps.env.outputs.env }}
#     steps:
#       - id: env
#         run: |
#           BRANCH="${GITHUB_REF#refs/heads/}"

#           if [[ "$BRANCH" == main ]]; then
#             echo "env=prod" >> $GITHUB_OUTPUT
#           elif [[ "$BRANCH" == release/* ]]; then
#             echo "env=qa" >> $GITHUB_OUTPUT
#           elif [[ "$BRANCH" == hotfix/* ]]; then
#             echo "env=prod" >> $GITHUB_OUTPUT
#           else
#             echo "env=dev" >> $GITHUB_OUTPUT
#           fi
#   detect-changes:
#     runs-on: ubuntu-latest
#     needs: detect-env
#     outputs:
#       frontend: ${{ steps.filter.outputs.frontend }}
#       wallet: ${{ steps.filter.outputs.wallet }}
#       transactions: ${{ steps.filter.outputs.transactions }}
#     steps:
#       - uses: actions/checkout@v4

#       - uses: dorny/paths-filter@v3
#         id: filter
#         with:
#           filters: |
#             frontend:
#               - 'digital-wallet-demo/frontend/**'
#             wallet:
#               - 'digital-wallet-demo/services/wallets/**'
#             transactions:
#               - 'digital-wallet-demo/services/transactions/**'


#   build-and-push:
#     runs-on: ubuntu-latest
#     needs: [detect-env, detect-changes]
#     strategy:
#       matrix:
#         service:
#           - frontend
#           - wallet
#           - transactions
#     if: |
#       (matrix.service == 'frontend' && needs.detect-changes.outputs.frontend == 'true') ||
#       (matrix.service == 'wallet' && needs.detect-changes.outputs.wallet == 'true') ||
#       (matrix.service == 'transactions' && needs.detect-changes.outputs.transactions == 'true')

#     steps:
#       - uses: actions/checkout@v4

#       - name: Login to private registry
#         run: |
#           echo "${{ secrets.REGISTRY_PASSWORD }}" | \
#           docker login ${{ secrets.REGISTRY_URL }} \
#             -u "${{ secrets.REGISTRY_USER }}" \
#             --password-stdin

#       - name: Build & push image
#         run: |
#           ENV="${{ needs.detect-env.outputs.env }}"
#           SHA="${GITHUB_SHA::7}"
#           IMAGE="${{ secrets.REGISTRY_URL }}/digital-wallet/${{ matrix.service }}:${ENV}-${SHA}"

#           if [[ "${{ matrix.service }}" == "frontend" ]]; then
#             CONTEXT="frontend"
#           else
#             CONTEXT="services/${{ matrix.service }}"
#           fi

#           docker build -t $IMAGE $CONTEXT
#           docker push $IMAGE
           
