name: Deploy-frontend

on:
  push:
    branches:
      - '**'
    paths:
      - "digital-wallet-demo/frontend/**"


jobs:
  ci-started:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "CI TRIGGERED"
          echo "REF=$GITHUB_REF"
          echo "EVENT=$GITHUB_EVENT_NAME"

  detect-env:
    runs-on: ubuntu-latest
    outputs:
      env: ${{ steps.env.outputs.env }}
    steps:
      - id: env
        run: |
          BRANCH="${GITHUB_REF#refs/heads/}"

          if [[ "$BRANCH" == "main" ]]; then
            ENV=prod
          elif [[ "$BRANCH" == release/* ]]; then
            ENV=qa
          elif [[ "$BRANCH" == hotfix/* ]]; then
            ENV=prod
          else
            ENV=dev
          fi

          echo "Detected ENV=$ENV"
          echo "env=$ENV" >> $GITHUB_OUTPUT

  show-env:
    runs-on: ubuntu-latest
    needs: detect-env
    steps:
      - run: echo "ENV FROM PREVIOUS JOB = ${{ needs.detect-env.outputs.env }}"





  build-frontend:
    runs-on: ubuntu-latest
    needs: [detect-env]
    steps:
      - uses: actions/checkout@v4
      - name: Build frontend image
        run: |
          IMAGE="frontend:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7}"
          docker build -t $IMAGE digital-wallet-demo/frontend  

      - name: Login registry
        run: |
          echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login \
            "${{ secrets.REGISTRY_URL }}" \
            -u "${{ secrets.REGISTRY_USER }}" \
            --password-stdin    

      - name: Push image
        run: |
          docker tag frontend:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7} \
            ${{ secrets.REGISTRY_URL }}/frontend:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7}
          docker push ${{ secrets.REGISTRY_URL }}/frontend:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7}     
  
     