# name: CI DIAGNOSTIC

# on:
#   push:
#     branches:
#       - '**'
#   workflow_dispatch:

# jobs:
#   ci-started:
#     runs-on: ubuntu-latest
#     steps:
#       - run: |
#           echo "CI TRIGGERED"
#           echo "REF=$GITHUB_REF"
#           echo "EVENT=$GITHUB_EVENT_NAME"

#   detect-env:
#     runs-on: ubuntu-latest
#     outputs:
#       env: ${{ steps.env.outputs.env }}
#     steps:
#       - id: env
#         run: |
#           BRANCH="${GITHUB_REF#refs/heads/}"

#           if [[ "$BRANCH" == "main" ]]; then
#             ENV=prod
#           elif [[ "$BRANCH" == release/* ]]; then
#             ENV=qa
#           elif [[ "$BRANCH" == hotfix/* ]]; then
#             ENV=prod
#           else
#             ENV=dev
#           fi

#           echo "Detected ENV=$ENV"
#           echo "env=$ENV" >> $GITHUB_OUTPUT

#   show-env:
#     runs-on: ubuntu-latest
#     needs: detect-env
#     steps:
#       - run: echo "ENV FROM PREVIOUS JOB = ${{ needs.detect-env.outputs.env }}"


#   detect-changes:
#     runs-on: ubuntu-latest
#     outputs: 
#         frontend: ${{ steps.filter.outputs.frontend }}
#         wallet: ${{ steps.filter.outputs.wallet }}
#         transactions: ${{ steps.filter.outputs.transactions }}
       
#     steps:
#       - uses: actions/checkout@v4
#         with:
#          fetch-depth: 0

#       - id: filter
#         uses: dorny/paths-filter@v3
#         with:
#           base-ref: ${{ github.event.before }}
#           filters: |
#             frontend:
#               - digital-wallet-demo/frontend/**
#             wallet:
#               - digital-wallet-demo/services/wallets/**
#             transactions:
#               - digital-wallet-demo/services/transactions/**

#       - run: |
#           echo "frontend=${{ steps.filter.outputs.frontend }}"
#           echo "wallet=${{ steps.filter.outputs.wallet }}"
#           echo "transactions=${{ steps.filter.outputs.transactions }}"


#   build-frontend:
#     runs-on: ubuntu-latest
#     needs: [detect-env, detect-changes]
#     if: ${{ needs.detect-changes.outputs.frontend == 'true' }}
#     steps:
#       - uses: actions/checkout@v4
#       - name: Build frontend image
#         run: |
#           IMAGE="frontend:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7}"
#           docker build -t $IMAGE digital-wallet-demo/frontend  

#       - name: Login registry
#         run: |
#           echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login \
#             "${{ secrets.REGISTRY_URL }}" \
#             -u "${{ secrets.REGISTRY_USER }}" \
#             --password-stdin    

#       - name: Push image
#         run: |
#           docker tag frontend:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7} \
#             ${{ secrets.REGISTRY_URL }}/frontend:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7}
#           docker push ${{ secrets.REGISTRY_URL }}/frontend:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7}     
  
#   build-wallet:
#     runs-on: ubuntu-latest
#     needs: [detect-env, detect-changes]
#     if: ${{ needs.detect-changes.outputs.wallet == 'true' }}
#     steps:
#       - uses: actions/checkout@v4
#       - name: Build wallet image
#         run: |
#           IMAGE="wallet:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7}"
#           docker build -t $IMAGE digital-wallet-demo/services/wallets  

#       - name: Login registry
#         run: |
#           echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login \
#             "${{ secrets.REGISTRY_URL }}" \
#             -u "${{ secrets.REGISTRY_USER }}" \
#             --password-stdin    

#       - name: Push image
#         run: |
#           docker tag wallet:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7} \
#             ${{ secrets.REGISTRY_URL }}/wallet:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7}
#           docker push ${{ secrets.REGISTRY_URL }}/wallet:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7}              


#   build-transaction:
#     runs-on: ubuntu-latest
#     needs: [detect-env, detect-changes]
#     if: ${{ needs.detect-changes.outputs.transactions == 'true' }}
#     steps:
#       - uses: actions/checkout@v4
#       - name: Build transaction image
#         run: |
#           IMAGE="transaction:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7}"
#           docker build -t $IMAGE digital-wallet-demo/services/transactions  

#       - name: Login registry
#         run: |
#           echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login \
#             "${{ secrets.REGISTRY_URL }}" \
#             -u "${{ secrets.REGISTRY_USER }}" \
#             --password-stdin    

#       - name: Push image
#         run: |
#           docker tag transaction:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7} \
#             ${{ secrets.REGISTRY_URL }}/transaction:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7}
#           docker push ${{ secrets.REGISTRY_URL }}/transaction:${{ needs.detect-env.outputs.env }}-${GITHUB_SHA::7} 